@import "tailwindcss";

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-semibold;
}

h3 {
    @apply text-xl font-medium;
}

h4 {
    @apply text-lg font-normal;
}

h5 {
    @apply text-base font-light;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.wmde-markdown {
  background-color: white !important;
  color: #1f2937 !important; 
}

.wmde-markdown pre,
.wmde-markdown code {
  background-color: #f4f4f4 !important; 
  color: #111 !important;
}